.header {
  align-items: center;
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  padding: 8px;
  position: sticky;
  top: 0;
  width: 100%;
  transition: transform 0.3s ease;
  z-index: 1000;
}

.logo-wrapper {
  flex: 0 0 auto;
  width: 100px;
}

.logo {
  width: 100%;
}

.navbar {
  display: flex;
}

.nav-btn {
  color: var(--tertiary);
  display: inline-block;
  font-family: "Boldonse";
  min-width: max-content;
  padding: 16px;
}

.active {
  text-shadow: 0 0 0.5px currentColor;
}

