.main-container {
  background-color: var(--primary);
  flex-grow: 1;
}

.page-title {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 32px;
  text-align: center;
}

.description,
.card-container {
  margin: 16px;
  max-width: 1000px;
}

.card {
  aspect-ratio: 1 / 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  margin: 8px auto;
  padding: 16px;
}

@media screen and (min-width: 768px) {
  .page-title {
    background-position: center;
    font-size: 3rem;
    height: 60vh;
  }

  .description,
  .card-container {
    margin: 16px auto;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
